.editContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}


.container{
    background: #2C3E50;
    padding: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}